@using WebApplication1.Models
@model Student
<div class="input-group">


    <div class="form-group ">
        @Html.LabelFor(a => a.id, new { @class = "col-sm-2 control-label", placeholder = "ID" })
        <div class="col-sm-10">
            @Html.TextBoxFor(a => a.id, new { @class = "form-control", placeholder = "ID" })
        </div>
    </div>
    <div class="form-group ">
        @Html.LabelFor(a => a.name, new { @class = "col-sm-2 control-label", placeholder = "Name" })
        <div class="col-sm-10">
            @Html.TextBoxFor(a => a.name, new { @class = "form-control", placeholder = "Name" })
        </div>
    </div>
    <div class="form-group ">
        @Html.LabelFor(a => a.mail, new { @class = "col-sm-2 control-label", placeholder = "Mail" })
        <div class="col-sm-10">
            @Html.TextBoxFor(a => a.mail, new { @class = "form-control", placeholder = "Mail" })
        </div>
    </div>
    <div class="form-group  ">
        @Html.LabelFor(a => a.phon, new { @class = "col-sm-2 control-label", placeholder = "Phone" })
        <div class="col-sm-10">
            @Html.TextBoxFor(a => a.phon, new { @class = "form-control", placeholder = "Phone" })
        </div>
    </div>
    <div class="form-group ">
        @Html.LabelFor(a => a.dep_id, new { @class = "col-sm-2 control-label", placeholder = "Department" })
        <div class="col-sm-10">
            @Html.TextBoxFor(a => a.dep_id, new { @class = "form-control", placeholder = "Department" })
        </div>
    </div>
</div>